
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/801x600" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/802x600" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/803x600" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/800x601" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/800x602" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/800x603" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/801x601" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/802x602" alt="" class="image"></div>
      <div class="swiper-slide"><img src="https://source.unsplash.com/random/803x603" alt="" class="image"></div>
    </div>
    <div #nextBtn class="swiper-button-next" id="next"></div>
    <div #prevBtn class="swiper-button-prev" id="back"></div>
    <div class="swiper-pagination"></div>
  </div>
  

