<div *ngIf="loaded==false" class="loading-icon">
  <i class="fas fa-spinner fa-spin" style="font-size: 150px;color: #3a9962;margin-left: 40%;"></i>
</div>

<div class="swiper mySwiper" [hidden]="!loaded">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let dest of destacados; let i = index">
      <img [routerLink]="['/contenido-viaje', dest.id]" [src]="destacados[i].imagen" alt="" class="image" style="cursor: pointer;">
    </div>
  </div>
  <div #nextBtn class="swiper-button-next" id="next"></div>
  <div #prevBtn class="swiper-button-prev" id="back"></div>
  <div class="swiper-pagination"></div>
</div>

  

