<app-layout-cabecera></app-layout-cabecera>
<hr>
<div style="margin-right: 80px;margin-left: 80px;">
    <p>
        ¡Embárcate en una travesía inolvidable! Nuestra oficina de viajes es el portal hacia un mundo de aventuras. Déjate cautivar por destinos fascinantes, descubre culturas vibrantes y sumérgete en paisajes deslumbrantes. Nuestro equipo experto te guiará en cada paso, asegurando que cada momento sea extraordinario. ¡Ven y convierte tus sueños en experiencias inolvidables!
    </p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d762.3876201430287!2d-5.6411155449541885!3d43.287814186661194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1681175496024!5m2!1ses!2ses" width="400" height="400" style="border:0; background-color:lightgrey;border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br>
<hr>
<app-footer></app-footer>
