<nav>
    <a [routerLink]="['/']"><img src="../../../assets/img/logos/logo2.png" alt="AsturTravel" width="50%"></a>
    <ul>
        <li><a [routerLink]="['/explora']" id="explora">Explora</a></li>
        <li><a href="#" (click)="openLoginPopup()">Login</a></li>
        <app-modal-login *ngIf="showLoginPopup" (closePopup)="closeLoginPopup()"></app-modal-login>
        <li><a href="#" (click)="openRegisterPopup()">Registro</a></li>
        <app-modal-register *ngIf="showRegisterPopup" (closeRegisterPopup)="closeRegisterPopup()"></app-modal-register>
        
    </ul>
</nav>
<h1 class="title">AsturTravel</h1>
