<app-layout-cabecera></app-layout-cabecera>
<hr>
<main>
    <div style="display: flex; justify-content: space-between;">
        <h3 style="margin-left: 20px;">Seguro que deseas comprar este viaje ?</h3>
        <h3><a (click)="salir()" style="margin-right: 20px;cursor: pointer;"><i class="fa-solid fa-person-running" style="color: crimson;"></i> Salir </a></h3>
    </div>
    <div id="contenidoSI" [hidden]="!loaded">
        <div class="grid-container">
          <div class="grid-item" *ngFor="let dest of contenido">
            <div class="card">
              <img src="{{ dest.imagen }}" class="card-img">
              <div class="card-body">
                <h4 class="card-title">{{ dest.nombre }}</h4>
                <p class="card-description">{{ dest.descripcion }}</p>
                <p class="card-price" style="text-align: end;">{{ dest.precio }} €</p>
                <h4>Fecha de salida</h4>
                <p> {{dest.fechaSalida}}</p>
                <h4>Fecha de llegada</h4>
                <p> {{dest.fechaLlegada}}</p>
                <a [routerLink]="['/contenido-viaje', dest.id]" class="card-link">
                  <i class="fa-solid fa-credit-card" style="color: #3a9962;"></i>
                  <span class="card-link-text"><i>Pagar</i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

<div id="contenidoNo" *ngIf="loaded==false">
    <i class="fas fa-spinner fa-spin" style="font-size: 150px;color: #3a9962;margin-left: 40%;"></i>
  </div>
</main>
<br>
<hr>
<br>
<app-footer></app-footer>