<main>
      <div class="linea1">
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x199" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/199x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
    </div>
    <!--Cambio de linea-->
    <div class="linea1">
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x199" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/199x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
    </div>
    <!--Cambio de linea-->
    <div class="linea1">
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x199" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/200x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/199x200" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
        <div class="articulo">
            <img src="https://source.unsplash.com/random/201x201" alt="" class="image">
            <div class="texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolo</p>
                <a href="">Ver más</a>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>