<main>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let dest of destinos">
          <img src="{{ dest.imagen }}" class="articulo-imagen">
          <h4 class="articulo-titulo">{{ dest.nombre }}</h4>
          <p class="articulo-descripcion">{{ dest.descripcion }}</p>
          <p>{{dest.precio}} €</p>
          <a href="#" class="articulo-enlace"><i class="fa-solid fa-eye" style="color:#3a9962;"></i>&nbsp;<i>Ver más</i></a>
        </div>
      </div>
      
</main>


