<div class="popup-overlay" id="ocultar">
  <div class="popup">
    <button class="close-btn" (click)="closePopup.emit()">X</button>
    <h2>Inicio sesion</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <br>
        <label for="username">Usuario:</label><br><br>
        <input type="text" id="username" name="username" [(ngModel)]="loginData.Email">
      </div>
      <div>
        <br>
        <label for="password">Contraseña:</label><br><br>
        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="loginData.Contrasenas">
      </div>
      <br>
      <button type="button" (click)="togglePasswordVisibility()" [ngClass]="{'show': showPassword}">
        {{ showPassword ? 'Ocultar' : 'Mostrar' }}
      </button>
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
</div>

