<header id="swup" class="transition-fade">
    <section id="contenedor-logo">
        <a [routerLink]="['/explora']" routerLinkActive="router-link-active" ><img src="../../../assets/img/logos/logo2.png" width="10%"  alt="L O G O"></a>
    </section>
    <section>
        <h3><i>Donde los sueños se cumplen</i></h3>
        <h3>{{loggedIn}}</h3>
    </section>
    <section id="contenedor-menu-principal">
        <nav>
            <table>
                <tr>
                    <td><a [routerLink]="['/oficina']">
                        <i class="fa-solid fa-map-location-dot"></i>
                        Oficina
                    </a></td>
                    <td><a (click)="openLoginPopup()">
                        <i class="fa-solid fa-lock icono"></i>
                        Area de clientes
                    </a></td>
                    <app-modal-login *ngIf="showLoginPopup" (closePopup)="closeLoginPopup()"></app-modal-login>
                    
                    <td>
                        <a (click)="openRegisterPopup()">
                            
                            <i class="fa-solid fa-user-plus icono"></i>
                            
                            Registrate</a>
                    </td>
                    <app-modal-register *ngIf="showRegisterPopup" (closeRegisterPopup)="closeRegisterPopup()"></app-modal-register>
                </tr>
                <tr>
                    <td colspan="3"><a href="mailto:vill@gmail.com">
                        <i class="fa-solid fa-envelope icono"></i>

                        villayoel@gmail.com
                    </a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="tel:667570588">
                            <i class="fa-solid fa-phone icono"></i>
                              667 570 588
                            </a>
                    </td>
                </tr>
            </table>
        </nav>
    </section>    
</header>
<span [hidden]="!EstaConectado" (click)="desconectar()" style="margin-left: 40px;"><i class="fa-solid fa-circle" style="color:rgb(27, 220, 20);"></i> &nbsp; Conectado - {{usuario}} &nbsp;<a ><i class="fa-solid fa-square-xmark" style="color: crimson;"></i> Desconectarse</a></span>
<span [hidden]="EstaConectado"  style="margin-left: 40px;"><i class="fa-solid fa-circle" style="color:crimson;"></i> &nbsp; No conectado</span>
