*{
    background-color: #d3d3d3;
    color:#3a9962;
    user-select: none;
}
i:hover{
    transition: 0.3s;
    color: black;
}
.footer {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color:#3a9962;
    padding: 20px 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 150px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color:#3a9962;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover {
    transition: 0.3s;
    color: black;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
  