<footer class="footer">
    <a (click)="arriba()"><i title="Ir Arriba" style="position: absolute;left: 50%;font-size:26px;cursor: pointer;" class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="../../../assets/img/logos/logo2.png" alt="Logo AsturTravel" style="width: 100px;">
        </div>
        <div class="footer-links">
          <ul>
            <li><a [routerLink]="['/contenido-tipo','Cruceros' ,9]" id="lado_izquierdo">CRUCEROS</a></li>
            <li><a [routerLink]="['/contenido-tipo','Diversion' , 10]" id="centro">DIVERSIÓN</a></li>
            <li><a [routerLink]="['/contenido-tipo', 'España', 7]" id="centro">ESPAÑA</a></li>
            <li><a [routerLink]="['/contenido-tipo', 'Temporada' ,8]" id="centro">DE TEMPORADA</a></li>
            <li><a [routerLink]="['/contenido-tipo', 'Europa' , 11]" id="lado_derecho">EUROPA</a></li>
            <li><a [routerLink]="['/oficina']">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://es-es.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://es.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p><i class="fa-regular fa-copyright"></i> 2023 AsturTravel. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>